/* Bookings*/

.form {
  @include form-background;
  margin-top: 0;

  .formimput,
  .formtextarea,
  .btnsubmit {
    width: 100%;
  }

  .formheader {
    font-weight: $fontweight1;
    font-family: $fontfamilyarchivo;
    text-align: center;
    color: $colorblue;
  }

  .formlabel {
    display: block;
    color: $colorwhite;
    padding-top: $padding1;
    padding-bottom: $padding2;
    font-family: $fontfamilyarchivo;
    font-size: $fontsize3;
    font-weight: $fontweight2;
    font-style: normal;
    position: relative;
  }

  .formtextarea {
    background: $colorwhite;
    padding: $padding2;
    font-weight: $fontweight2;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: $fontsize3;
  }
}

.btnsubmit {
  display: inline-block;
  padding: $padding2;
  background-color: $colorwhite;
  color: $colorblack;
  border: 1px solid $colorblack;
  border-radius: 5px;
  font-size: $fontsize3;
  font-family: $fontfamilyarchivo;
  cursor: pointer;
  text-align: center;
}

.btnsubmit:hover {
  background-color: $colorblue;
}

.formgroup {
  text-align: left;
  width: 150px;
}
