/*Releases*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}

.hpages {
  margin: 0 auto;
  padding-bottom: 60px;
  margin-top: 10vh;
  text-align: center;
  color: $colorwhite;
  font-family: $fontfamilyarchivo;
  font-weight: $fontweight1;
  font-style: normal;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.release1,
.release2,
.release3,
.release4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.release1 .irelease1,
.release2 .irelease2,
.release3 .irelease3,
.release4 .irelease4 {
  max-width: 320px;
  height: 200px;
  padding: $padding1;
  margin: 0 auto;
  border-radius: 12px;
  border: 0;
}

.release1 .hrelease1,
.release2 .hrelease2,
.release3 .hrelease3,
.release4 .hrelease4 {
  display: flex;
  padding-bottom: $padding1;
  font-family: $fontfamilyarchivo;
  font-style: normal;
  font-size: $fontsize1;
}

.release1 .parraforelease1,
.release2 .parraforelease2,
.release3 .parraforelease3,
.release4 .parraforelease4 {
  font-style: normal;
  font-size: $fontsize2;
  padding: $padding1;
  color: $colorwhite;
  text-align: justify;
  align-items: center;
}
