/*Footer*/

footer {
  display: flex;
  height: 40px;
  margin-top: $marginauto;
  background-color: $colorgray;
  opacity: 10%;
  justify-content: space-between;
  align-items: top;
  padding-right: $padding2;
  padding-left: $padding2;
  font-size: $fontsize2;
  font-family: $fontfamilyarchivo;
  font-style: normal;
  color: $colorblack;
}

.fcontact {
  color: $colorblack;
  text-decoration: none;
}
