/*Colores*/
/*Fuentes*/
/*Backgrounds*/
/*Padding - Margin*/
/*Form*/
/*Backgrounds*/
.bindex {
  background-image: url("../images/fondoindex.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
@media screen and (max-width: 768px) {
  .bindex {
    background-image: url("../images/mobile.png");
    max-width: 100%;
  }
}

.breleases {
  background-image: url("../images/eleufondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.form {
  background-color: black;
  background-image: url("../images/fondo2.jpg");
  opacity: 0.75;
  max-width: 650px;
  padding: 5px 40px;
  margin-top: 130px;
  margin-bottom: 130px;
  border-radius: 30px;
}

/*Header*/
.navbar-brand img {
  height: 110px;
}
@media (max-width: 768px) {
  .navbar-brand img {
    padding-left: 20px;
  }
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-item {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .navbar-nav .nav-item {
    margin-left: 20px;
    padding-right: 20px;
  }
}
.navbar-nav .nav-link {
  color: white !important;
  font-family: "Archivo Black", sans-serif !important;
  padding-right: 20px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  font-style: normal !important;
}
.navbar-nav .nav-link:hover {
  color: rgb(0, 56, 168) !important;
}

.navbar-toggler-icon {
  background-color: white;
  margin-right: 10px;
}

/*Footer*/
footer {
  display: flex;
  height: 40px;
  margin-top: auto;
  background-color: grey;
  opacity: 10%;
  justify-content: space-between;
  align-items: top;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  color: black;
}

/* Home */
.eleu {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-top: 200px;
  margin-left: 10%;
}

.eleu1 {
  font-size: 30px;
  text-align: left;
  font-family: "Archivo Black", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 25px;
  margin-left: 20%;
  color: white;
}
@media screen and (max-width: 768px) {
  .eleu1 {
    margin-left: 0%;
  }
}

.contact {
  font-family: "Archivo Black", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: black;
}

.bucontact {
  width: 150px;
  margin-top: 0px;
  margin-left: 30%;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .bglogo img {
    max-width: 155px !important;
  }
}

@media (max-width: 768px) {
  .bgcenter {
    top: 70% !important;
  }
}

.bgcentrado {
  position: absolute;
  top: 30%;
  left: 5%;
}
@media (max-width: 768px) {
  .bgcentrado {
    top: 70%;
  }
}

.img-fluid {
  min-width: 40vw;
  max-width: 100vw;
}

/*Releases*/
/*Release 1*/
.hpages {
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-weight: 600;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .hpages {
    text-align: center;
  }
}

.release1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 30px;
  width: 1200px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .release1 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
.release1 .irelease1 {
  max-width: 320px;
  height: 200px;
  padding: 20px;
  margin-top: auto;
  border-radius: 12px;
  border: 0;
}
.release1 .hrelease1 {
  display: flex;
  padding-bottom: 20px;
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-size: 30px;
}
.release1 .parraforelease1 {
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: justify;
  align-items: center;
}

/*Release 2*/
.release2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 1200px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .release2 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
.release2 .irelease2 {
  max-width: 320px;
  height: 200px;
  padding: 20px;
  margin-top: auto;
  border-radius: 12px;
  border: 0;
}
.release2 .hrelease2 {
  display: flex;
  padding-bottom: 20px;
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-size: 30px;
}
.release2 .parraforelease2 {
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: justify;
  align-items: center;
}

/*Release 3*/
.release3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 1200px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .release3 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
.release3 .irelease3 {
  max-width: 320px;
  height: 200px;
  padding: 20px;
  margin-top: auto;
  border-radius: 12px;
  border: 0;
}
.release3 .hrelease3 {
  display: flex;
  padding-bottom: 20px;
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-size: 30px;
}
.release3 .parraforelease3 {
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: justify;
  align-items: center;
}

/*Release 4*/
.release4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 1200px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .release4 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
.release4 .irelease4 {
  max-width: 320px;
  height: 200px;
  padding: 20px;
  margin-top: auto;
  border-radius: 12px;
  border: 0;
}
.release4 .hrelease4 {
  display: flex;
  padding-bottom: 20px;
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-size: 30px;
}
.release4 .parraforelease4 {
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: justify;
  align-items: center;
}

/*Galeria*/
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 30px;
  overflow: hidden;
  padding: 30px 10px;
}
.galeria img {
  width: 100%;
  vertical-align: top;
  height: 500px;
  object-fit: cover;
  transition: transform 0.5s;
}
.galeria a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px white;
}
.galeria a:hover img {
  transform: rotate(10deg) scale(1.3);
}
@media screen and (max-width: 768px) {
  .galeria a:hover img {
    filter: none;
    transform: none;
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.lightbox img {
  width: 75vh;
  max-height: 90vh;
}
.lightbox:target {
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .lightbox {
    display: none;
  }
}

.cerrar {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: white;
  color: black;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.mover {
  display: block;
  background: white;
  color: black;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

/*Bio*/
.bioimg {
  max-width: 100%;
  height: auto;
  margin-top: 30%;
}
@media screen and (max-width: 768px) {
  .bioimg {
    padding: 20px;
  }
}

.pbio {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-size: 15px;
  padding-left: 20px;
  color: white;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .pbio {
    display: none;
  }
}

.biolist {
  display: none;
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 10px;
  color: white;
  text-align: left;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .biolist {
    display: block;
  }
}

/* Bookings */
.form {
  background-color: black;
  background-image: url("../images/fondo2.jpg");
  opacity: 0.75;
  max-width: 650px;
  padding: 5px 40px;
  margin-top: 130px;
  margin-bottom: 130px;
  border-radius: 30px;
}
.form .formimput,
.form .formtextarea,
.form .btnsubmit {
  width: 100%;
}
.form .formheader {
  font-weight: normal;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  color: orange;
}
.form .formtitle {
  color: white;
  text-align: center;
}
.form .formlabel {
  display: block;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  position: relative;
}
.form .formtextarea {
  background: rgba(167, 155, 155, 0.7);
  padding: 12px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-size: 14px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

#font-face {
  font-family: "Archivo";
  src: url("/asset/fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

/*# sourceMappingURL=styles.css.map */
